body {
    background-color: black;
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #e5d7eb;
    padding: 20px 20%;
}

.hero .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}

.hero .logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero ul {
    display: flex;
    direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-self: center;
}

.hero li {
    display: flex;
    list-style: none;
}

.hero .media {
    display: flex;
    align-items: center;
    margin: 100px 0;
    gap: 50px;
}

.media .content {
    flex: 1;
}

.media .headline {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 32px;
    padding: 40px 0;
    background-color: white;
}

.info .title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.info .boxes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.info .box {
    width: 200px;
    text-align: center;
}

.box img {
    border-radius: 15px;
    border: 2px solid blue;
    width: 150px;

}


.section3 {
    display: flex;
    background-color: #E5E7EB;
    flex: 1;
}

button {
    display: block;
    padding: 8px 25px;
    margin: 15px 0;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    font-size: 1em;
}